<div class="container plan-container">
  <div class="row__title">
    <h2>
      Planificación: 
      <strong>{{getTitle()}}</strong>
    </h2>
  </div>
  <div class="row__indicador">
    <app-indicador-niveles [niveles]="getNiveles()" (activation)="activeNivel($event)"></app-indicador-niveles>
  </div>
  <div class="__row_filter">
    <app-gantt-filtros [(filtro)]="filters"></app-gantt-filtros>
  </div>
  <div class="row__gantt-panel">
    <app-gantt-panel 
      [objetivos]="getObjetivos()" 
      [nivel]="getActiveNivel()"
    ></app-gantt-panel>
  </div>
  <div class="row__add">
    <button class="btn btn-default" disabled>+ Añadir objetivo</button>
  </div>
</div>
