<div class="title">
    <h4>{{elemento.title}}</h4>
</div>
<app-gantt-row 
    class="col-sm-12" 
    *ngFor="let objetivo of getObjetivos();"
    [objetivo]="objetivo"
    [nivel]="nivel"
    >
</app-gantt-row>

