<div class="row gantt__row">
  <div class="col-xs-12 col-sm-4 name" [ngClass]="getPlaneadoClass()">
    <div>
      <span [ngClass]="nivelActivo()" class="badge badge-primary"> {{getNivel()}} </span>
      {{getTitle()}}
    </div>
    <div *ngIf="isPlaneado()"><small>{{getFechaInicio()}} <strong>-</strong> {{getFechaFin()}}</small></div>
  </div>
  <div class="col-xs-12 col-sm-8 percentage-container" [ngClass]="getPlaneadoClass()">
    <div *ngIf="isPlaneado(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="percentage" [ngStyle]="getStyle()">
          <div class="bar" [ngClass]="getProgressClass()" [ngStyle]="getProgressStyle()"></div>
        </div>
    </ng-template>
    <ng-template #elseBlock>
      <button class="btn btn-default btn-small" disabled>+ Planificar</button>
    </ng-template>
  </div>
</div>
