<div class="row headers">
  <div class="hidden-xs col-sm-4"></div>
  <div class="col-xs-12 col-sm-8">
    <div class="row headers__months">
      <div class="col-xs-1">Ene</div>
      <div class="col-xs-1">Feb</div>
      <div class="col-xs-1">Mar</div>
      <div class="col-xs-1">Abr</div>
      <div class="col-xs-1">May</div>
      <div class="col-xs-1">Jun</div>
      <div class="col-xs-1">Jul</div>
      <div class="col-xs-1">Ago</div>
      <div class="col-xs-1">Sept</div>
      <div class="col-xs-1">Oct</div>
      <div class="col-xs-1">Nov</div>
      <div class="col-xs-1">Dic</div>
    </div>
  </div>
</div>
<div class="row objetivos">
  <app-gantt-elemento 
    *ngFor="let elemento of getElementos(); let i=index; let odd=odd;"
    [elemento]="elemento"
    [nivel]="nivel"
  >
  </app-gantt-elemento>
</div>
