@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

$clear: #f0f0f0;
$gray-light: #e8e8e8;
$green: #087d39;
$yellow: #fdbb5a;
$red: #fe684f;

app-planificador {
  .plan-container {
    .row__title {
      font-weight: 100;
      margin-bottom: 3rem;
    }
    .row__gantt-panel {
      margin-top: 15px;
    }
    .row__add {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;
    }
  }
}

app-indicador-niveles {
  .indicador__container {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
      flex-flow: column nowrap;
    }

    app-indicador-nivel-item {
      display: flex;
      flex-grow: 1;
    }
  }
}

app-indicador-nivel-item {
  div.indicador-item__inner {
    background: #f0f0f0;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    flex-grow: 1;
    margin: 3px 1px 0;
    padding: 10px;
    transition: 0.1s all ease-in-out;

    &:hover {
      background: #ccc;
    }

    &.active {
      background: #aaa !important;
      margin-top: 0;
    }
  }
}

app-gantt-row {
  .gantt__row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
    }
  }

  div.percentage-container {
    display: flex;
    position: relative;
    padding: 0;

    @media screen and (max-width: 768px) {
      min-height: 30px;
      margin: 0;
      padding: 0;
    }

    &.no-planeado {
      background: $gray-light;
      display: block;
      padding: 4px 5px;
    }

    div[class^="col"] {
      background: $clear;
      border-left: 1px solid white;
      border-right: 1px solid white;
      &:hover {
        background: $gray-light;
      }
      @media screen and (max-width: 768px) {
        float: none;
        padding: 0;
        width: calc(100% / 12);
      }
    }

    div.percentage {
      background: linear-gradient(to right, #dfdfdf, #ccc);
      border-radius: 10px;
      height: 15px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      div.bar {
        border-radius: 0 8px 8px 0;
        height: 100%;
        left: 0;
        position: relative;
        top: 0;
        &:after {
          content: "";
          background: white;
          border-radius: 4px;
          display: block;
          height: 8px;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
        }

        &.green {
          background: linear-gradient(to right, $green, $green, white);
          &:after {
            background: $green;
          }
        }

        &.yellow {
          background: linear-gradient(to right, $yellow, $yellow 70%, white);
          &:after {
            background: #797979;
          }
        }

        &.red {
          background: linear-gradient(to right, $red, $red 60%, white);
          &:after {
            background: #797979;
          }
        }
      }
    }
  }

  div.name {
    background: $clear;
    border-right: 2px solid white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: smaller;
    min-height: 40px;
    padding-bottom: 2px;
    padding-top: 2px;

    @media screen and (max-width: 768px) {
      border: none;
      margin-bottom: 1px;
    }

    &.no-planeado {
      background: $gray-light;
    }

    .badge.active {
      background: $green !important;
    }

    div {
      padding: 4px 0;
    }
  }
}

app-gantt-panel {
  .headers {
    font-size: smaller;
  }

  .headers__months {
    text-align: center;
  }

  .headers__months div {
    background: #f0f0f0;
    border-left: 1px solid white;
    padding: 0;
  }

  .objetivos app-gantt-elemento {
    display: block;
    margin-bottom: 15px;
  }
}

app-gantt-filtros {
  .filtros__container {
    background: #f0f0f0;
    max-height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

  .filtros__container .inner {
    padding: 10px;
  }

  .filtros__container.active {
    max-height: 1000px;
  }
}

app-gantt-elemento {
  .title h4 {
    margin: 15px 0 0 0;
  }
  app-gantt-row:last-of-type {
    margin-bottom: 25px;
  }
}
