<div class="filtros__indicator">
  <button class="btn btn-default" (click)="activateToggle()">
    Filtros
    <span class="glyphicon" [ngClass]="active ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
  </button>
</div>

<div class="row filtros__container" [ngClass]="active ? 'active' : ''">
  <div class="inner">
    <input type="radio" name="filtro" id="filtro-si" [(ngModel)]="filtro.planificado" value="si">
    <label for="filtro-si">Mostrar solo objetivos planificados</label> <br>
    <input type="radio" name="filtro" id="filtro-no" [(ngModel)]="filtro.planificado" value="no">
    <label for="filtro-no">Mostrar solo objetivos no planificados</label> <br>
    <input type="radio" name="filtro" id="filtro-todos" [(ngModel)]="filtro.planificado" value="todos">
    <label for="filtro-todos">Mostrar todos los objetivos</label> <br>
  </div>
</div>
